
<section class="bg-light">
    <div class="container">
        <footer class="py-5">
            <div class="row">
                <div class="col-6 col-md-3 mb-3">
                    <h5>Bize Ulaşın</h5>
                    <div>
                        <div>
                            <h6>Adres</h6>
                            Kadıköy / İstanbul
                        </div>
                        <div>
                            <h6>E-Mail</h6>
                            e-ticaret@io.com
                        </div>
                        <div >
                            <h6>Telefon</h6>
                             0537 557 5757
                        </div>
                    </div>
                </div>

                <div class="col-6 col-md-2 mb-3">
                    <h5>Çok Satan Markalar</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary" style="color:black">Samsung</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary" style="color:black">Rampage</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary" style="color:black">Sony</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary" style="color:black">Monster</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary" style="color:black">Asus</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-3 mb-3">
                    <h5>Çok Satan Kategoriler</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary" style="color:black">Bilgisayar</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary" style="color:black">Telefon</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary" style="color:black">Monitörler</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary" style="color:black">Oyun Konsolu</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary" style="color:black">Oyuncu Kulaklığı</a></li>
                    </ul>
                </div>
           
                <div class="col-md-4 mb-3">
                    <form>
                        <h5>Whatsapp Kanalımıza Abone Olun</h5>
                        <p>Kampanyalar ve İndirimlerden ilk sizin haberiniz olsun.</p>
                        <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                            <label for="newsletter1" class="visually-hidden">Whatsapp Kanalı</label>
                            <input id="newsletter1" type="text" class="form-control" placeholder="Email">
                            <button type="button" class="btn btn-outline-success text-nowrap">Abone Ol</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
                <p>© 2024 E-Ticaret, Ltd. Tüm Hakları Saklıdır.</p>
                <ul class="list-unstyled d-flex">
                    <li class="ms-3">
                        <a class="text-dark" href="x.com" target="_blank">
                            <i class="bi bi-twitter-x"></i>
                    </a></li>
                    <li class="ms-3">
                        <a class="text-dark" href="intagram.com" target="_blank">
                            <i class="bi bi-instagram"></i>
                    </a></li>
                    <li class="ms-3"><a class="text-dark" href="facebook.com" target="_blank">
                            <i class="bi bi-facebook"></i>
                    </a></li>
                </ul>
            </div>
        </footer>
    </div>
</section>
